*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #fafafa;
}

/* header start */

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 5px;
}

.logo-circle{
    display: flex;
    flex-direction: column;
    margin-right: 6px;
}

.logo{
    display: flex;
    align-items: center;}

.header .logo .circle{
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}
.header .logo .logo-circle .circle-1{
    background-color:#887a9c ;
    margin-left: 10px;
}

.header .logo .logo-circle .circle-2{
    background-color:#4f93a6 ;

}

/* Header fnısh */

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 0;
    overflow: hidden;
}

.about .about-picture{
    display: flex;
    align-items: center;

}

.about .about-picture img{
    width: 100%;
    height: 100%;
    max-width: 110px;
    max-height: 110px;
    border-radius: 50%;
    padding: 5px;
    transition: .3s;

}

.about .about-picture img:hover{

    transform: translateY(-5px);
}

.about-picture .col-1{
    margin-left: -20px;
}

.about-picture .col-6{
    margin-right: -40px;
}

.col-2, .col-5{
    margin-bottom: 90px;
}

.about .about-info{
    margin: 0 55px;
}

.about .about-info h1,p{
    text-align: center;
}

.about .about-info h1{
    font-size: 35px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 0.7;


}

.about .about-info p{
    font-size: 14px;
    letter-spacing: 0.9px;
    font-weight: 500;
    color: rgb(160,154,154);
    margin: 20px 0;
}

.about .about-info a{
    text-decoration: none;
    padding: 13px 35px;
    display: inline-block;
    color: #fafafa;font-size: 12px;
    border-radius: 35px;
    font-weight: bold;
}

.about .about-info .btn-1{
    background-color: #4f93a6;
    margin-right: 10px;
    margin-bottom: 5px;
}

.about .about-info .btn-2{
    background-color: #887a9c;
    text-align: center;
}

.about .picture-2{
    margin-left:45px;
}

.about .about-info .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/* about fınısh */

.line{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 60px 0;
}

.line .limit{
    border: 1px solid #ddd;
    height: 55px;
}

.line .line-circle{

    width: 40px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 50%;
    color: #777;
    font-weight: bold;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    
}

.container{
    max-width: 1300px;
    margin: 0 50px;
}

.container .content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}

.container .content img{
    width: 100%;
    max-width: 200px;
    margin: 10px 5px;
    border-radius: 13px;

}

.container .information{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container .information h4{
    margin-top:50px;
    margin-bottom: 10px;
    font-size: 13px;
    color: #599aac;
    letter-spacing: 1.8px;
    text-align: center;
}

.container .information h2{
    text-align: center;
    font-size: 30px;
    line-height: 1.2;

}

.container .information p{
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.9px;
    margin: 20px 0;
    color: rgb(160,154,154);
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 300px;
}

.footer-picture{
    width: 100%;
    height: 300px;
    background-image: url(./meet/footer2.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;

}

.footer-info{
    position: absolute;
    top:0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    height: 300px;
    width: 100%;
    background-color:#599aacb2 ;
}

.footer-info h4,p{
    background-color: transparent;
    color: #fff;
}

.footer-info h4{
    font-size: 24px;
    margin: 10px 70px;
    letter-spacing: 1.2px;
}

.footer-info p{
    font-size: 14px;
    text-align: center;
    padding: 0 10px;
}

.footer-info a{
    padding: 15px 35px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color:#887a9c ;
    border-radius: 35px;
    font-size: 12px;
    text-align: center;}



@media screen and (max-width: 414px){

.footer-info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}


}

@media screen and (max-width: 820px){

    .footer-info{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
    }
    
    
    }
    @media screen and (max-width: 280px){

        .about .about-info{
            margin-left: 120px;

        }

        .footer{
            margin-bottom: 155px;
        }
        
        
        }